<div  class="d-flex align-items-start justify-content-center form-div">
    <form #resetPasswordForm="ngForm">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div class="form-group">
            <input type="password" name="newPassword" ngModel class="form-control" required placeholder="Enter New Password">
        </div>
        <div class="form-group">
            <input type="password" name="repeatPassword" ngModel class="form-control" required placeholder="Repeat-Password" >
        </div>
        <button type="button" class="btn btn-primary form-btn" (click)="resetPassword(resetPasswordForm)">Reset</button>
    </form>
</div>