.form-div{
    height: 100vh;
    form{
        margin-top: 100px;
        .form-btn{
            margin-top: 10px;
            width: 100%;
        }
        .form-group{
            margin-bottom: 20px;
        }
    }
}