h3{
    margin-top: 100px;
}
.form-div{
    height: 100vh;
    form{
        margin-top: 20px;
        .form-btn{
            margin-top: 30px;
            width: 100%;
        }
        .resend-otp{
            margin-top: 10px;
            color: blue;
            cursor: pointer;
        }
    }
}