<div  class="d-flex flex-column align-items-center justify-content-start form-div">
    <h3>Reset your password</h3>
    <form #forgotPasswordForm="ngForm">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <div class="form-group">
            <input type="email" name="email" ngModel class="form-control" placeholder="Enter Your Email" id="email"required (focus)="clear()">
            <small id="emailHelp" class="form-text text-muted">We'll send you a link to reset your password.</small>
        </div>
        <button type="button" class="btn btn-primary form-btn" (click)="sentForgotPasswordLink(forgotPasswordForm)">Sent Link</button>
    </form>
</div>